body {
  background-color:#0995C6;
  color: black;
}
h1{
  font-size: 3em;
  text-align: left;
  color: #C4D837;
}
h2{
  font-size: 4em;
}
h3{
  text-align: center;
}
/*#configIcon{
  color: black;
  padding: 1em;


}*/

#customerLogo{
  width: 10em;
}
.IconSetting{
  text-align: right;
}
#infoUser{
  text-align: left;
}
#toolSegment{
  height: 4em;
}
.Button{
  color: white;
}
/*#barchart{
  width: 15em;
}*/

#factures{
  text-align: center;
}
#accordion{
  height: 15em;
}
/*#info{
  height: 10em;
}*/
#blockInfo{
  background-color: red;
  color: white;
}
#segmentData{
  width: 100em;
}