body {
  background-color:green;
  color: black;
}
h1{
  font-size: 3em;
  text-align: left;
  color: green;
}
/*#configIcon{
  color: black;
  padding: 1em;


}*/
#customerLogo{
  width: 10em;
}
.IconSetting{
  text-align: right;
}
#infoUser{
  text-align: left;
}